<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Awesome Movie Recommender</title>
</head>

<body>
  <h1>{{ title }}</h1>
  <p>This is a <br>line break</p>
  <a href="https://www.lyrics.com">Go to the lyrics site!</a>
  <br>
  <form action="/recommender">
  <p>Please rate the following movies on a scale from 0.0 to 5.0:</p>
  Movie 1:
  <input type="text" name="movie1" placeholder="0.0 - 5.0"><br>
  Movie 2:
  <input type="text" name="movie2" placeholder="0.0 - 5.0"><br>
  Movie 3:
  <input type="text" name="movie3" placeholder="0.0 - 5.0"><br>
  Movie 4:
  <input type="text" name="movie4" placeholder="0.0 - 5.0"><br>
  Movie 5:
  <input type="text" name="movie5" placeholder="0.0 - 5.0"><br>
  <input type="submit">
  </form>
</body>

</html>